@import '~tachyons';

.us-none {
  user-select: none;
}

body,
#main,
body > div[data-elm-hot='true'] {
  height: 100%;
}

//.ws-pre{
//  white-space: pre;
//}

.pre-wrap {
  white-space: pre-wrap;
}

.break-word {
  word-break: break-word;
}

.resize-none{
  resize: none;
}
