@import '~tachyons';

.us-none {
  user-select: none;
}

//body,
//#main,
//body > div[data-elm-hot='true'] {
//  min-height: 100%;
//  overflow: scroll;
//}

//.ws-pre{
//  white-space: pre;
//}

.pre-wrap {
  white-space: pre-wrap;
}

.break-word {
  word-break: break-word;
}

.resize-none {
  resize: none;
}

*:focus,
.outline-1 {
  outline-color: dodgerblue;
  outline-offset: 0px;
  outline-width: 5px;
  outline-style: wave;
}

@import './toasties.css';
